{% macro collapsible_path_card(path_list, card_header, card_id, table_headers=[], table_id=None) -%}
  <div class="card" id="{{ card_id }}">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        <a href="#"
           class="stmt_toggle"
           data-toggle="collapse"
           aria-expanded="true"
           data-target="#{{ card_id }}_body"
           aria-controls="{{ card_id }}_body">
          {{ card_header }}
        </a>
      </h4>
    </div>
    <div class="collapse" id="{{ card_id }}_body">
      <div class="card-body">
        {{ path_table(path_list, table_headers, table_id) }}
      </div>
    </div>
  </div>
{%- endmacro %}

{% macro path_card(path_list, card_header, card_id, table_headers=[], table_id=None) -%}
  <div class="card" id="{{ card_id }}">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ card_header }}</h4>
    </div>
    <div class="card-body">
      {{ path_table(path_list, table_headers, table_id) }}
    </div>
  </div>
{%- endmacro %}

{% macro path_table(path_list, headers=[], id=None) -%}
<table class="table">
  {% if headers %}
  <thead class="table-head">
  {% for header in headers %}
    <th {% if header != "Test" %}style="width: 15%; text-align: center"{% endif %}>{{ header }}</th>
  {% endfor %}
  </thead>
  {% endif %}
  <tbody class="table-body" {% if id %}id="{{ id }}"{% endif %}>
    {{ path_table_contents(path_list) }}
  </tbody>
</table>
{%- endmacro %}

{% macro path_table_contents(paths) -%}
  {% for row in paths %}
  <tr>
  {% for link_address, link_text in row %}
    <td>
    {% if link_address %}
      <a href="{{ link_address }}" class="stmt-dblink" target="_blank">{{ link_text }}</a>
{# Pass: <i class="fas fa-check"></i>#}
{# Fail: <i class="fas fa-times"></i>#}
{# See more at:#}
{# https://fontawesome.com/icons?d=gallery#}
    {% elif link_text == 'Pass' %}
      <i class="fas fa-check"></i>
    {% elif link_text == 'Fail' %}
      <i class="fas fa-times"></i>
    {% else %}
      {{ link_text }}
    {% endif %}
    </td>
  {% endfor %}
  </tr>
  {% endfor %}
{%- endmacro %}
